[submodule "src/ros2-driver"]
	path = src/ros2-driver
	url = https://github.com/advanced-navigation/ros2-driver.git
[submodule "src/nucleus_driver"]
	path = src/nucleus_driver
	url = https://github.com/jakebonney10/nucleus_driver.git
[submodule "src/project11/project11_msgs"]
	path = src/project11/project11_msgs
	url = https://github.com/rolker/project11_msgs.git
[submodule "src/project11/project11"]
	path = src/project11/project11
	url = https://github.com/rolker/project11.git
[submodule "src/project11/mru_transform"]
	path = src/project11/mru_transform
	url = https://github.com/SeawardScience/mru_transform.git
[submodule "src/rhody"]
	path = src/rhody
	url = https://github.com/jakebonney10/rhody.git
[submodule "src/ros2sonic"]
	path = src/ros2sonic
	url = git@github.com:SeawardScience/ros2sonic.git
[submodule "src/acoustic_msgs_tools"]
	path = src/acoustic_msgs_tools
	url = https://github.com/k2oceanic/acoustic_msgs_tools.git
[submodule "src/gemini_sonar_driver"]
	path = src/gemini_sonar_driver
	url = https://github.com/jakebonney10/gemini_sonar_driver.githttps://github.com/jakebonney10/gemini_sonar_driver.git
